/*
    COMPONENT 

    * Default
        * btn
    * Props
        - btn__icon
    * Variants
        - btn--text
        - btn--refilled
        - btn--outline
        - btn--full
*/

  .btn {
    height: 40px;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: 0.0052857143em;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: max-content;
    min-width: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    vertical-align: middle;
  }

  .btn:hover {
    cursor: pointer;
  }

  .btn__icon {
    padding-right: 8px;
  }

  /* 
    VARIANTS
  */

  /* TEXT BUTTON*/
  .btn--text {
    color: var(--color-btnOutlined)
  }
  .btn--text:hover {
    background-color: var(--color-btnOutlinedHover);
  }
  .btn--text:active {
    background-color: var(--color-btnOutlinedActive);
  }

  /* REFILLED BUTTON */

  .btn--refilled {
    background-color: var(--color-btnRefilled);
    color: var(--color-onBtnRefilled)
  }
  .btn--refilled:hover {
    background-color: var(--color-btnRefilledHover);
  }
  .btn--refilled:active {
    background-color: var(--color-btnRefilledActive);
  }

  /* OUTLINED BUTTON */

  .btn--outlined {
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--color-btnOutlined);
    color: var(--color-btnOutlined)
  }
  .btn--outlined:hover {
    background-color: var(--color-btnOutlinedHover);
  }
  .btn--outlined:active {
    background-color: var(--color-btnOutlinedActive);
  }

  .btn--full {
    width: 100%;
  }
