.product {
    /* width: 100%;
    display: flex; */
}
.product-media {
    position: relative;
    width: 100%;
    height: 500px;
}
.product-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }


.product-info {
    margin-bottom: 0;}
    @media (min-width: 768px) {
        .product-info {
            margin-left: 2rem;}}
    .product-info>*{
        margin-bottom: 2rem;
    }

.product-media {
    width: 100%;
    height: 360px;
    margin-bottom: 2rem;
    position: relative; }
    @media (min-width: 576px) {
        .product-media {
            height: 512px; } }  
    @media (min-width: 768px) {
        .product-media {
            margin-bottom: 0;
            height: 340px; } }  
    @media (min-width: 992px) {
        .product-media {
            height: 448px; } }
    @media (min-width: 1200px) {
    .product-media {
        height: 586px; } }
