.footer {
    width: 100%;
    height: max-content;
    background-color: var(--color-surface-dp0);
    color: var(--color)
}

.footer-container {
    border-top: 1px solid var(--color);
    padding-top: 72px;
    padding-bottom: 72px;
}

.footer .item {
    padding-bottom: 1rem;
}
.footer .item-title {
    font-weight: 500;
    padding-bottom: 1rem;
}