/*-----------
    VARS
-------------*/

:root {
    --color-50: #fef2f4;
    --color-100: #fde6e9;
    --color-200: #fbd0d9;
    --color-300: #f7aab9;
    --color-400: #f27a93;
    --color-500: #e63f66;
    --color-600: #d42a5b;
    --color-700: #b21e4b;
    --color-800: #951c45;
    --color-900: #801b40;
    --color-950: #470a1f;
  
    --color-primary: var(--color-500);
    --color-onprimary: #121212;
    --color-primary-variant: #b21e4b;
    --color-surface-dp0: #fff;
    --color-surface-dp1: #fff;
    --color-surface-dp2: #fff;
    --color-surface-dp3: #fff;
    --color-surface-dp4: #fff;
    --color-surface-dp6: #fff;
    --color-surface-dp8: #fff;

    --color-btnRefilled: var(--color-500);
    --color-btnRefilledHover: var(--color-600);
    --color-btnRefilledActive: var(--color-700);
    --color-onBtnRefilled: var(--color-50);

    --color-btnOutlined: var(--color-700);
    --color-btnOutlinedHover: var(--color-50);
    --color-btnOutlinedActive: var(--color-100);

    --font-high-color: rgba(0, 0, 0, 0.87);
    --font-medium-color: rgba(0, 0, 0, 0.6);
    --font-disabled-color: rgba(0, 0, 0, 0.38);
    --border-color: #4f4f4f;
    --disabled-color: rgba(0, 0, 0, 0.42);
    --error-color: #b00020;
  }
  
  [data-theme="dark"] {
    --color-primary: var(--color-400);
    --color-onprimary: #fff;
    --color-surface-dp0: #121212;
    --color-surface-dp1: #1e1e1e;
    --color-surface-dp2: #212121;
    --color-surface-dp3: #242424;
    --color-surface-dp4: #272727;
    --color-surface-dp6: #2c2c2c;
    --color-surface-dp8: #2d2d2d;

    --color-btnRefilled: var(--color-400);
    --color-btnRefilledHover: var(--color-300);
    --color-btnRefilledActive: var(--color-500);
    --color-onBtnRefilled: var(--color-950);

    --color-btnOutlined: var(--color-300);
    --color-btnOutlinedHover: var(--color-950);
    --color-btnOutlinedActive: var(--color-900);

    --font-high-color: rgba(255, 255, 255, 0.87);
    --font-medium-color: rgba(255, 255, 255, 0.6);
    --font-disabled-color: rgba(255, 255, 255, 0.38);
    --border-color: #f4f4f4;
    --error-color: #cf6679;
  }
  
  .color-primary {
    color: var(--primary-color)
  }