.link {
    cursor: pointer;
    height: 24px;
    color: var(--color-onprimary)
  }

.link.active {
    color: var(--color-primary);
    /* border-bottom: 2px solid var(--color-primary); */
  }

a[class="link"]:hover {
  color: var(--color-300);
}
a[class="link"]:active {
  color: var(--color-600);
}
